html,
body {
  height: 100%;
  margin: 0;
}

nav
  .md:hidden.absolute.top-full.left-0.w-full.bg-white.shadow-lg.transition-all.max-h-0 {
  max-height: 0;
  overflow: hidden;
}

nav
  .md:hidden.absolute.top-full.left-0.w-full.bg-white.shadow-lg.transition-all {
  /* No max-height initially */
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}
.transition-all {
  transition: max-height 0.3s ease-in-out;
}

.max-h-0 {
  max-height: 0;
  overflow: hidden;
}

.slide-in-left {
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out; /* Adjust timing as needed */
}

/* Slide-out to the left */
.slide-out-left {
  transform: translateX(-100%);
}

.truncate-2-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
